<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <!--li>%= link_to "Restaurant", foods_path %></li-->
      <li><%= link_to "Pending Produce", donors_path %></li>
      <!--li>%= link_to "Pantry", recipients_path %></li-->
      <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
    </ul>
      <% if user_signed_in? %>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <ul class="nav navbar-nav">
            <!--li><= link_to "Matches", dashboard_matches_path %></li-->
            <li><%= link_to "Archives", dashboard_archives_path %></li>
          </ul>
        <% end %>
      <% end %>
    </ul>
    
    
  	<!-- [] THIS IS A TEST, TRYING TO GET SELECTION TO UPDATE DROPDOWN TITLE
    	<li data-toggle="dropdown">%= link_to "Test" %></li>
		  <ul class="dropdown-menu" id="AvailableFarmers">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Three Sisters Farm</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hootin Hallow</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Shilo Farms</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All Farmers</a></li>    
      </ul>
    </ul>
  
  
  	<li data-toggle="dropdown">%= link_to "Farmers" %></li>
		<ul class="dropdown-menu" id="AvailableFarmers">
      <li>%= link_to 'All Farmers', donors_path %></li>
      <li><a tabindex="-1" data-value="Item I">Item I</a></li>
      <!--<li><a tabindex="-1">Walters Farm</a></li>
      <li><a tabindex="-1">Three Sisters Farm</a></li>
      <li><a tabindex="-1">Hootin Hallow</li>
      <li><a tabindex="-1">Shilo Farm</a></li>
      <li><a tabindex="-1">Stockton Farms</a></li>
      <li><a tabindex="-1">Petes Posies Farm</a></li>
      <li><a tabindex="-1">Pomona Farms</a></li>
      <li><a tabindex="-1">Fall Creek Farm</a></li>
      <li><a tabindex="-1">Masters Farm</li>
      <li><a tabindex="-1">Little Creek Farm</a></li>-->
		  <!--[] YOU CANT GO TO DIFFERENT PAGES USING THIS METHOD...
		  % @usernames.each do |donor| %>
        <li>%= link_to donor.username %></li>
      % end %>
      
      
    
    <-- THIS WORKS BUT IS NOT WORKING CORRECTLY...  
    <li data-toggle="dropdown">%= link_to "Farmers" %></li>
		<ul class="dropdown-menu" id="AvailableFarmers">
      <li>%= link_to 'All Farmers', donors_path %></li>
      <li><a tabindex="-1" data-value="Item I">Item I</a></li>
		  % @usernames.each do |donor| %>
        <li>%= link_to donor.username %></li>
      % end %>
		</ul>
    -->
        
    
  </div>
</nav>