<h2>Archives</h2>

<!--% if user_signed_in? %>
    <h4>Welcome, %= current_user.user_name %></h4>
% end %>-->

<!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


<!--[] NAVIGATION BAR -->
<!--%= render partial: "navigation", locals: {zone: @zone} %-->
<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <!--li>%= link_to "Restaurant", foods_path %></li-->
      <li><%= link_to "Pending Produce", donors_path %></li>
      <!--li>%= link_to "Pantry", recipients_path %></li-->
      <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
    </ul>
      <% if user_signed_in? %>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <ul class="nav navbar-nav">
            <!--li><= link_to "Matches", dashboard_matches_path %></li-->
            <li><%= link_to "Archives", dashboard_archives_path %></li>
          </ul>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav pull-right">
        <li id="hideshow" style="padding:15px; cursor:pointer; color:#696969">Search</li>
      </ul>
    </ul>
    
  </div>
</nav>



<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

<div class="container" id="content" style="display:none">
  <div class="row vertical-offset-100">
  	<div class="col-md-4 col-md-offset-4">
  		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Custom Date Search</h3>
    		</div>
    		
		  	<div class="panel-body">
			    <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form group">
                <div class="field" id="event_period">
                  Start Date: <input style="width:100%" type="text" class="actual_range" id="start_date"><br><br>
                  End Date: <input style="width:100%" type="text" class="actual_range" id="end_date">
                </div>
    			    </div>
              <button type="button" class="btn btn-lg btn-success btn-block" id="get_results">Search!</button>
              <button type="button" class="btn btn-lg btn-info btn-block" id="clear_results">Clear</button>
              
  			    </fieldset>
			    </form>
    	  </div>
		  </div>
	  </div>
  </div>
  <hr>
  
</div>

<style>
  hr {
    height: 1px;
    color: black;
    background-color: black;
  }
</style>


<script type="text/javascript">
  /*===================*/
  /*    DATE PICKER    */
  /*===================*/
  $('#event_period').datepicker({
    inputs: $('.actual_range')
    /*
    var start = document.getElementById("start_date").innerHTML;
    var end = document.getElementById("end_date").innerHTML;
    alert(start + " -- " + end)
    */
  });
    
  /*=======================================*/
  /* SORT BY COLUMN - CLICK COLUMN TO SORT */
  /*=======================================*/
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("donorTable");
    switching = true;
    dir = "asc"; //sorting direction: ascending
    while (switching) {
      switching = false;
      rows = table.getElementsByTagName("tr");
      //Loop through all rows except the header
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        //Get the two elements you want to compare, one from current row and one from the next
        x = rows[i].getElementsByTagName("td")[n];
        y = rows[i + 1].getElementsByTagName("td")[n];
        //Check if the two rows should switch place, based on the direction, asc or desc
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true; //switch
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true; //switch
            break;
          }
        }
      }
      if (shouldSwitch) {
        //If a switch has been marked, make the switch and mark that a switch has been done
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1
        switchcount ++;      
      } else {
        //If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again.
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>


<table class="table table-striped table-bordered" id="donorTable">
  <thead>
    <h4 style="color:blue">Completed Deliveries:</h4>
    <tr>
      <th onclick="sortTable(0)">Username</th>
      <th onclick="sortTable(1)">Type of Food</th>
      <th onclick="sortTable(2)">Quantity</th>
      <th onclick="sortTable(3)">Units</th>
      <th onclick="sortTable(4)">Weight (lbs)</th>
      <th onclick="sortTable(5)">Season</th>
      <th onclick="sortTable(6)">Date entered</th>
      <!--% if user_signed_in? %>
        % if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <th onclick="sortTable(7)">Phone</th>
          <th onclick="sortTable(8)">Email</th>
          <th onclick="sortTable(9)">Address</th>
        % end %>
      % end %-->
      <th onclick="sortTable(10)">Match</th>
      <th onclick="sortTable(11)">Pickup date</th>
      <th onclick="sortTable(12)">Pickup name</th>
      <!--<th>Delivered</th>-->
    </tr>
  </thead>
     
  <tbody id="donorList" class="searchList">
    <% @archived.each do |donor| %>
      <tr>
        <td data-toggle="modal" data-target="#donorModal"><%= donor.username %></td>
        <td><%= donor.type_of_food %></td>
        <td><%= donor.quantity %></td>
        <td><%= donor.units %></td>
        <td><%= donor.weight %></td>
        <td><%= donor.season %></td>
        <td><%= donor.date_entered %></td>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <td style="display:none"><%= donor.phone %></td>
          <td style="display:none"><%= donor.email %></td>
          <td style="display:none"><%= donor.address %></td>
        <% end %>
        <td><%= donor.match %></td>
        <td><%= donor.pickup_date %></td>
        <td><%= donor.pickup_name %></td>
        <!--<td>%= donor.delivered %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>


<!--[x] UNIVERSAL MODAL -->
<%= render partial: "donors/modal", locals: {zone: @zone} %>