<h2>Team Charter Questions</h2>
<small>Initially Due: Feb 9th</small>

<p><strong>Who are we?</strong> (Students, instructor, and customers)</p>
<p>Students:</p>
<ul>
    <li>Justin Foster</li>
    <li>Spencer Cothran</li>
    <li>Gage Garner</li>
</ul>

<p><strong>What are our values?</strong> (All)</p>
<ul>
    <li>Flexibility</li>
    <li>Originality</li>
    <li>Commitment</li>
    <li>Edcuation</li>
    <li>Excellence</li>
</ul>

<p><strong>How will we communicate?</strong> (All)</p>
<ul>
    <li>After Class <small>[Monday/Thursday: 4:30-6:00pm]</small></li>
    <li>Slack <small>[on a Daily Basis]</small></li>
</ul>

<p><strong>How will we make decisions?</strong> (All)</p>
<ul>
    <li>Based on MOSCOW</li>
    <li>Best for Customer</li>
    <li>Realistic Accomplishments</li>
</ul>

<p><strong>How will we handle conflict?</strong> (Teams)</p>
<ul>
    <li>Group Evaluation (whichever idea shows more promise wins)</li>
</ul>

<p><strong>How will we run our meetings?</strong> (Teams)</p>
<ul>
    <li>Casual discussions on what needs to be done for the current week</li>
    <li>Idea of what is to come (make sure we are on track)</li>
</ul>

<p><strong>When will we meet?</strong></p>
<ul>
    <li>Weekly Discussions [Monday/Thursday: 4:30-6:00pm]</li>
    <li>Work will be managed via Trello</li>
</ul>

<p><strong>What systems should be used to share files?</strong> (Google Drive)</p>
<ul>
    <li>Google Drive</li>
    <li>BitBucket</li>
    <li>Trello</li>
</ul>

<p><strong>How will you keep track of our progress?</strong> (Trello.com)</p>
<ul>
    <li>Trello</li>
</ul>

<p><strong>How will we have fun?</strong></p>
<ul>
    <li>Discovering new solutions</li>
    <li>Sense of pride throughout development</li>
</ul>

<p><strong>How will we improve our processes?</strong></p>
<ul>
    <li>Obtaining more specifications from client</li>
    <li>Learn as we go, make changes as they devolop</li>
</ul>

<p><strong>Retrospectives? How often?</strong></p>
<ul>
    <li>Weekly: During Meetings/Conversations/Trello board</li>
</ul>

<p><strong>What is our working agreement?</strong></p>
<ul>
    <li>Assign amounts of work based on difficulty</li>
    <li>Equal work distribution</li>
</ul>

<hr>

<h2>Project Charter</h2>

<p><strong>Vision</strong></p>
<ul>
    <li>Database: Creating a self-maintaining/web-based database for Seedfork Food Distributions</li>
    <li>Truck: Link for Farmers to insert information of what food they have, how much, and contact info</li>
    <li>Grants: information needs to be kept track of (archived) (how much food was given away this year)</li>
</ul>

<p><strong>Goals</strong></p>
<ul>
    <li>Bug Free & Easy to Use</li>
    <li>Bridge the communication gap</li>
    <li>Complete the project on time</li>
</ul>

<p><strong>Measures of Success (All)</strong></p>
<ul>
    <li>How do we know that we've done a good job? (Examples: Time, Scope, Correctness, Others?)</li>
    <ul>
        <li>Customer is satisfied with the project</li>
        <li>Project is completed on-time and bug-free</li>
    </ul>
</ul>

<p><strong>Sliders</strong> (By team and then by project)</p>
<ul><li><p><strong>Team:</strong></p></li></ul>
<table>
    <tr>|---------|----X----|---------|---------| TIME</tr><br>
    <tr>|---------|---------|----X----|---------| SCOPE</tr><br>
    <tr>|---------|---------|---------|----X----| QUALITY</tr><br>
    <tr>|----X----|---------|---------|---------| COST</tr><br>
</table>
<ul><li><p><strong>Project:</strong></p></li></ul>
<table>
    <tr>|---------|----X----|---------|---------| TIME</tr><br>
    <tr>|---------|---------|----X----|---------| SCOPE</tr><br>
    <tr>|---------|---------|---------|----X----| QUALITY</tr><br>
    <tr>|----X----|---------|---------|---------| COST</tr><br>
</table>

<ul>
    <li><strong>What is the relative importance of each of these measures?</strong></li>
    <ul>
        <li>Time: software should be delivered on time</li>
        <li>Scope: all (or as many) of the features requested are supported</li>
        <li>Quality: bug-free features that are easy to understand</li>
        <li>Cost: lower the cost, the better</li>
    </ul>
</ul>

<p><strong>Challenges / Roadblocks / Risks: </strong><small>What are the things that will keep us from being able to complete the work?</small></p>
<ul><li><p><strong>Team:</strong></p></li>
    <ul>
        <li>Challenges: Implementation of the Database</li>
        <li>Roadblocks: Knowing our boundries(what we can/cannot do)</li>
        <li>Risks: Spending too much time on one feature</li>
    </ul>
</ul>
<ul><li><p><strong>Project:</strong></p></li>
    <ul>
        <li>Challenges: Getting work done efficiently and on time</li>
        <li>Roadblocks: Not knowing what questions to ask</li>
        <li>Risks: Database security</li>
    </ul>
</ul>

<p><strong>Definition of Done: </strong><small>How do we know when we've completed the work?</small> (All)</p>
<ul>
    <li>When the website works as inteneded</li>
    <li>All neccessary features have been implemented</li>
</ul>

<p><strong>Milestones</strong> (All)</p>
<ul>
    <li>Create Database</li>
    <li>Implement Database</li>
    <li>Pick up food request page for Farmers</li>
    <li>Accessable data for yearly/monthly/daily grant material</li>
    <li>Bug-free environment for ease of use</li>
</ul>

<hr>

<h4>Elevator Statement</h4>
<table>
    <tr>FOR: Suppliers[Farmers/Gardeners/Restaurants] and Receivers[Pantries/Churches]</tr><br>
    <tr>WHO: need communication amongst themselves and records of all exchanges.</tr><br>
    <tr>THE: Seedfork Connection is a web-based database</tr><br>
    <tr>THAT: facilitates communication between food suppliers and receivers. Allowing them to keep records of quantities exchanged</tr><br>
    <tr>UNLIKE: facebook pages (which they're currently using now).</tr><br>
    <tr>OUR SOLUTION: is to connect food suppliers to receivers via our web-based database.</tr><br>
</table>