<h2>Matches</h2>

<!--% if user_signed_in? %>
    <h4>Welcome, %= current_user.user_name %></h4>
% end %>-->

<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <li><%= link_to "Restaurant", foods_path %></li>
      <li><%= link_to "Farmer", donors_path %></li>
      <!--li>%= link_to "Pantry", recipients_path %></li-->
      <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
    </ul>
    <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Matches", dashboard_matches_path %></li>
          <li><%= link_to "Archives", dashboard_archives_path %></li>
        </ul>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <!--li>%= link_to 'Account', edit_user_registration_path %></li-->
      <li><%= link_to edit_user_registration_path do %>
         <i class="glyphicon glyphicon-cog"></i>
      <% end %></li>
    </ul>
    
  </div>
</nav>

<hr>

<table>
    <thead>
      <h4 style="color:blue">Farmer/Pantry Matches:</h4>
      <tr>
        <th>Username</th>
        <th>Type of Food</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>Price</th>
        <th>Date entered</th>
        <% if user_signed_in? && current_user.truckdriver_role? || user_signed_in? && current_user.seedforkuser_role? %>
          <th>Phone</th>
        <% end %>
        <th>Pickup Loc</th>
        <th>Pickup Date</th>
        <th>Dropoff Loc</th>
        <th>Dropoff Date</th>
        <th>Driver Name</th>
        <th>Delivered</th>
        <th colspan="3"></th>
      </tr>
    </thead>
     
 <tbody>
    <% @matches.each do |donor| %>
      <tr>
        <td><%= donor.username %></td>
        <td><%= donor.type_of_food %></td>
        <td><%= donor.quantity %></td>
        <td><%= donor.units %></td>
        <td><%= donor.season %></td>
        <td><%= donor.date_entered %></td>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <td><%= donor.phone %></td>
          <td><%= donor.email %></td>
          <td><%= donor.address %></td>
        <% end %>
        <td><%= donor.match %></td>
        <td><%= donor.pickup_date %></td>
        <td><%= donor.pickup_name %></td>
        <td><%= donor.delivered %></td>
      </tr>
    <% end %>
  </tbody>
</table><br />