<h2>SEEDFORK SEMESTER PROJECT</h2>
<h4>Group Name: <font color="blue">SeedFork Blue</font></h4>

<p>Group Members:</p>
<ul>
    <li>Justin Foster</li>
    <li>Spencer Cothran</li>
    <li>Gage Garner</li>
</ul>


<p>Links:</p>
<ul>
    <li><a href="https://trello.com/b/bKSC3mS7/project">Trello Scrumboard</a></li>
    <li><a href="https://drive.google.com/open?id=0BxAFcRgIhHEGVml2OFNET2NSR28">Google Drive Notes</a></li>
    <!--<li><a href="https://www.youtube.com/watch?v=PfxrEgRzVLA">YouTube Video 01</a></li>-->
    <br /><iframe width="420" height="380" src="https://www.youtube.com/embed/PfxrEgRzVLA" frameborder="0" allowfullscreen></iframe>
    <br /><iframe width="420" height="380" src="https://www.youtube.com/embed/aGvQzMhrbHE" frameborder="0" allowfullscreen></iframe>
</ul>


<p>Customer Contact Information:</p>
<ul>
    <li>Name: Ellen Wolfe</li>
    <li>Email: <a href="mailto:ellenpwolfe@frontiernet.net">Ellen Wolfe</a></li>
    <li>Phone: 931.261.2111</li>
    <li>Meetings: Every Thursday</li>
</ul>

<h4>Extras:</h4>
<ul>
    <li>Using Rails <%= Rails.version %></li>
    <% if user_signed_in? %>
        <li style="color:blue">Welcome, <%= current_user.user_name %></li>
        <li >User Email: <%= current_user.email %></li>
        <li >Account Type: <%= current_user.type_of_user %></li>
        <li >Creation Date: <%= current_user.create_date %></li>
    <% end %>
    
</ul>