<h2>Truck Inventory</h2>



<!--[] NAVIGATION BAR -->
<%= render partial: "dashboard/navigation", locals: {zone: @zone} %>

<hr>


<table class="table table-striped table-bordered" id="donorTable">
  <thead>
    <h4 style="color:blue">Produce Currently on Truck:</h4>
    <tr>
      <th onclick="sortTable(0)">Username</th>
      <th onclick="sortTable(1)">Quantity</th>
      <th onclick="sortTable(2)">Units</th>
      <th onclick="sortTable(3)">Type of Food</th>
      <th onclick="sortTable(4)">Weight</th>
      <th onclick="sortTable(5)">Season</th>
      <th onclick="sortTable(6)">Date entered</th>
      <!--% if user_signed_in? %>
        % if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <th onclick="sortTable(7)">Phone</th>
          <th onclick="sortTable(8)">Email</th>
          <th onclick="sortTable(9)">Address</th>
        % end %>
      % end %-->
      <th onclick="sortTable(7)">Match</th>
      <th onclick="sortTable(8)">Pickup date</th>
      <th onclick="sortTable(9)">Pickup name</th>
      <!--<th>Delivered</th>-->
      <% if user_signed_in? %>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <th></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  
  
  <tbody id="donorList">
    <% @inventory.each do |donor| %>
      <tr>
        <td data-toggle="modal" data-target="#donorModal"><%= donor.username %></td>
        <td><%= donor.quantity %></td>
        <td><%= donor.units %></td>
        <td><%= donor.type_of_food %></td>
        <td><%= donor.weight %></td>
        <td><%= donor.season %></td>
        <td><%= donor.date_entered %></td>
        <% if user_signed_in? %>
          <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <td style="display:none"><%= donor.phone %></td>
            <td style="display:none"><%= donor.email %></td>
            <td style="display:none"><%= donor.address %></td>
          <% end %>
        <% end %>
        <td><%= donor.match %></td>
        <td><%= donor.pickup_date %></td>
        <td><%= donor.pickup_name %></td>
        <!--<td>%= donor.delivered %></td>-->
        
        <% if user_signed_in? %>
          <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <td><center><%= link_to 'Edit', edit_donor_path(donor), :class => "btn btn-default" %></center></td>
          <% end %>
        <% end %>
       
        <!--<td>%= link_to 'Show', donor %></td>
        % if current_user.user_name == donor.username || current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <td>%= link_to 'Edit', edit_donor_path(donor) %></td>
          <td>%= link_to 'Delete', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        % end %>-->
        
        
        <!--[x] UNIVERSAL MODAL -->
        <%= render partial: "donors/modal", locals: {zone: @zone} %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  /*=======================================*/
  /* SORT BY COLUMN - CLICK COLUMN TO SORT */
  /*=======================================*/
  function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("donorTable");
    switching = true;
    dir = "asc"; //sorting direction: ascending
    while (switching) {
      switching = false;
      rows = table.getElementsByTagName("tr");
      //Loop through all rows except the header
      for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        //Get the two elements you want to compare, one from current row and one from the next
        x = rows[i].getElementsByTagName("td")[n];
        y = rows[i + 1].getElementsByTagName("td")[n];
        //Check if the two rows should switch place, based on the direction, asc or desc
        if (dir == "asc") {
          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
            shouldSwitch = true; //switch
            break;
          }
        } else if (dir == "desc") {
          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
            shouldSwitch = true; //switch
            break;
          }
        }
      }
      if (shouldSwitch) {
        //If a switch has been marked, make the switch and mark that a switch has been done
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        //Each time a switch is done, increase this count by 1
        switchcount ++;      
      } else {
        //If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again.
        if (switchcount == 0 && dir == "asc") {
          dir = "desc";
          switching = true;
        }
      }
    }
  }
</script>