<h2 title="Must=Blue, Should=Green, Could=Orange, Wont=Red">User Stories</h2>

<nav class="navbar navbar-default navbar" role="navigation">
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  	<ul class="nav navbar-nav">
  		
      <li><a id="must" href="#admin">Admin</a></li>
      <li><a id="must" href="#truckdriver">Truck Driver</a></li>
      <li><a id="must" href="#farmer">Farmer</a></li>
      <li><a id="must" href="#pantry">Pantry</a></li>
      <li><a id="could" href="#grower">Grower</a></li>
      <li><a id="could" href="#planter">Planter</a></li>
      <li><a id="could" href="#organization">Organization</a></li>
      <li><a id="could" href="#randomuser1">Random User</a></li>
      <li><a id="should" href="#randomuser2">Random User</a></li>
      <li><a id="wont" href="#restaurant">Restaurant</a></li>
  	
  	
  	  <!--[x] THE COLORS DO NOT LOOK PROFESSIONAL...-->
  		<!--style>
  		  #must { color: blue; }
  		  #should { color: green; }
  		  #could { color: orange; }
  		  #wont { color: red; }
  		</style-->
  	
  	</ul>
  </div>
</nav>

<body>
  
  <h2 id="admin">ADMIN</h2>
  <p>As an Admin,</p>
  <p>I want to be able to update the website/database,</p>
  <p>so that it is always up-to-date.</p>
  
  <h2 id="truckdriver">TRUCK DRIVER</h2>
  <p>As a Truck Driver,</p>
  <p>I want to be able to input information into the database about who has what foods,</p>
  <p>so that so that our users can see what foods we have available or where they are available at.</p>
  
  <h2 id="farmer">FARMER</h2>
  <p>As a Farmer,</p>
  <p>I want to be able to tell people what food I have available, and how much,</p>
  <p>so that I distribute it accordingly to people who can benefit from it.</p>

  
  <h2 id="pantry">PANTRY</h2>
  <p>As a Pantry (who wants/needs produce),</p>
  <p>I want to be able to reserve surplus farmers produce,</p>
  <p>so that I can have the truck deliver the produce to me, and then distribute it to people that come to my pantry.</p>
  
  
  <h2 id="grower">GROWER</h2>
  <p>As a Grower,</p>
  <p>I want to be able to donate or sell my excess foods,</p>
  <p>so that they do not go to waste.</p>

  
  <h2 id="planter">PLANTER</h2>
  <p>As a Planter,</p>
  <p>I want to be able to donate or sell my excess foods,</p>
  <p>so that they do not go to waste.</p>
  
  
  <h2 id="organization">ORGANIZATION</h2>
  <p>As an Organization (pantries/churches/TTU),</p>
  <p>I want to be able to request food from an organized list of all available produce,</p>
  <p>so that we do not run out of stock of fresh produce that people receive most.</p>
  
    
  <h2 id="randomuser1">RANDOM USER</h2>
  <p>As a Random User (who won't create a login),</p>
  <p>I want to stumble onto the page that shows the database of foods,</p>
  <p>so that if I want to make dinner with fresh tomatoes,</p>
  <p>I can go to the website database and see which organizations/pantries are currently receiving said produce from our area.</p>
  
  
  <h2 id="randomuser2">RANDOM USER</h2>
  <p>As a RANDOM USER (who could create a login),</p>
  <p>I want to check out the contents of the SeedFork website,</p>
  <p>so that I can get an idea of what the website has to offer,</p>
  <p>and how SeedFork can help my organization obtain produce donations.</p>
  
  
  <h2 id="restaurant">RESTAURANT</h2>
  <p>As a RESTAURANT (potential),</p>
  <p>I want to be able to request produce</p>
  <p>so that I can obtain fresh local produce at a reasonable price, if not free.</p>
  <a class="scrollup" href="#">Back to top</a>
</body>


<!--CSS: 'BACK TO TOP' BUTTON-->
<!--[] Hide if the page doesn't have a scrollbar...-->
<style>
  .scrollup {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    border: 2px solid #555555; /*Black*/
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: black;
  } .scrollup:hover {
    background-color: #555555;
    color: white;
  }
</style>