<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <!--NEW/COOL SING UP SCREEN-->
    <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
  
    <div class="container">
      <div class="row vertical-offset-100">
      	<div class="col-md-4 col-md-offset-4">
      		<div class="panel panel-warning ">
    		  	<div class="panel-heading">
    		    	<h3 class="panel-title"><strong>Edit Account Information:</strong></h3>
        		</div>
        		
    		  	<div class="panel-body">
    			    <form accept-charset="UTF-8" role="form">
                <fieldset>
                  <h6>Account Type: <%= current_user.type_of_user %></h6>
                  
                  <!--TYPE OF USER-->
                  <div class="form group">
                    <div>
                      <%= f.label :type_of_user, hidden:true %>
                      <!--%= f.select :type_of_user, [['Farmer'], ['Pantry'], ['Truck Driver'], ['SeedFork User']] %>
                      %= f.select :type_of_user, [['Farmer'], ['Pantry']], hidden:true %>
                      <br /><small><i>Farmer - Donating Produce</i></small>
                      <br /><small><i>Pantry - Receiving Produce</i></small--> 
                      <%= f.text_field :type_of_user, autofocus: true, value: "Farmer", hidden:true %>
                    </div>
                  </div>
                  
                  <!--USERNAME-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label "UserName" %>
                      <%= f.text_field :user_name, presence: true, autofocus: true, placeholder: "username", class:"form-control" %>
                    </div>
        			    </div>
                  
                  <!--ADDRESS-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label :address %>
                      <%= f.text_field :address, placeholder: "address", class:"form-control" %>
                    </div>  
        			    </div>
                  
                  <!--PHONE-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label :phone %>
                      <%= f.text_field :phone, placeholder: "email", class:"form-control" %>
                    </div> 
        			    </div>
                  
                  <hr>
  
                  <h4>Login Information:</h4>
                  <h6><i>This is how you will login</i></h6>
                  
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
                  
                  <!--ENTER NEW PASSWORD-->
                  <br /><div class="field">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                    <% if @minimum_password_length %>
                      <br />
                      <em><small><%= @minimum_password_length %> characters minimum</small></em>
                    <% end %>
                    <%= f.password_field :password, autocomplete: "off", placeholder: "new password", class:"form-control" %>
                  </div>
                  
                  <!--CONFIRM NEW PASSWORD-->
                  <div class="field">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "re-enter new password", class:"form-control" %>
                  </div>
                
                  <!--TYPE CURRENT PASSWORD-->
                  <br /><div class="field">
                    <strong style="color:red"><%= f.label :current_password %></strong><i>(we need your current password to confirm your changes)</i><br />
                    <%= f.password_field :current_password, autocomplete: "off", placeholder: "current password", class:"form-control" %>
                  </div>
                  
                  <hr>
                  
                  <!--[x] THESE NEED TO BE AUTOMATICALLY UPDATED WHEN USER SELECTS 'SIGN UP' BASED ON SELECTION/PASSWORD-->
                  <div id="show_settings" class="hidden">
                      <h5 id="superuser" style="color:red"></h5>
                      <div>
                        <%= f.label "Farmer?" %>
                        <%= f.select :farmer_role, [['True', true], ['False', false]], :selected => "true", :id => "farmer_r" %>
                      </div>
                      
                      <br>
                      
                      <!--div> <!--NO LONGER RELAVANT->
                        %= f.label "Pantry?" %>
                        %= f.select :pantry_role, [['True', true], ['False', false]], :id => "pantry_r" %>
                      </div-->
                      
                      <div>
                        <%= f.label "Truck Driver?" %>
                        <%= f.select :truckdriver_role, [['True', true], ['False', false]], :id => "driver_r" %>
                      </div>
                      
                      <br>
                      
                      <div>
                        <%= f.label "SeedFork User?" %>
                        <%= f.select :seedforkuser_role, [['True', true], ['False', false]], :id => "admin_r" %>
                      </div>
                    <hr>
                  </div>
        			    
                  <!--UPDATE ACCOUNT-->
                  <div class="actions">
                    <%= f.submit "Update", class: "btn btn-md btn-warning btn-block", :onmousedown => "WhichButton(event)" %>
                  </div>
                  
                  <% end %>
                  
                  <!--CANCEL ACCOUNT-->
        			    <div class="actions">
                    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account?" }, method: :delete, :class => "btn btn-md btn-warning btn-block" %>
                  </div>
                  
                  <hr>
                  
                  <!--BACK BUTTON-->
                  <%= link_to "Back", :back, :class => "btn btn-md btn-warning btn-block" %>
                
      			    </fieldset>
    			    </form>
        	  </div>
    		  </div>
    	  </div>
      </div>
    </div>
    
    
    <style>
      hr {
        height: 1px;
        color: black;
        background-color: black;
      }
    </style>
    
    <!--[x]CHECK TO SEE IF USER RIGHT CLICKED 'SIGN UP'-->
    <script type="text/javascript">
    
      function WhichButton(event) {
        if (event.button == 2) {
          var pass = prompt("Please enter employee password");
          if (pass == "seedtruckpass") {
            //alert("Welcome, Truck Driver!")
            $("#superuser").html("Welcome New Truck Driver!");
            $("#show_settings").removeClass('hidden');
            //document.getElementById("farmer_r").value = "false";
            //document.getElementById("driver_r").value = "true";
            
          } else if (pass == "seedadminpass") {
            //alert("Welcome, SeedFork Administrator!")
            $("#superuser").html("Welcome New Administrator!");
            $("#show_settings").removeClass('hidden');
            //document.getElementById("farmer_r").value = "false";
            //document.getElementById("admin_r").value = "true";
            
          } else {
            //alert("You are not an employee...")
          }
        }
      }
    </script>
  
