<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
    <!--NEW/COOL SING UP SCREEN-->
    <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
  
    <div class="container">
      <div class="row vertical-offset-100">
      	<div class="col-md-4 col-md-offset-4">
      		<div class="panel panel-success ">
    		  	<div class="panel-heading">
    		    	<h3 class="panel-title"><strong>Farmer Sign Up:</strong></h3>
        		</div>
        		
    		  	<div class="panel-body">
    			    <form accept-charset="UTF-8" role="form">
                <fieldset>
                  
                  <h4>Personal Information:</h4>
                  <h6><i>Don't worry, address/phone is not shared</i></h6>
                  
                  <!--TYPE OF USER-->
                  <div class="form group">
                    <div>
                      <%= f.label :type_of_user, hidden:true %>
                      <!--%= f.select :type_of_user, [['Farmer'], ['Pantry'], ['Truck Driver'], ['SeedFork User']] %>
                      %= f.select :type_of_user, [['Farmer'], ['Pantry']], hidden:true %>
                      <br /><small><i>Farmer - Donating Produce</i></small>
                      <br /><small><i>Pantry - Receiving Produce</i></small--> 
                      <%= f.text_field :type_of_user, autofocus: true, value: "Farmer", hidden:true %>
                    </div>
                  </div>
                  
                  <!--USERNAME-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label "UserName" %>
                      <%= f.text_field :user_name, autofocus: true, placeholder: "first & last/organization name", class:"form-control" %>
                    </div>
        			    </div>
                  
                  <!--ADDRESS-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label :address %>
                      <%= f.text_field :address, placeholder: "where the truck will pick up produce", class:"form-control" %>
                    </div>  
        			    </div>
                  
                  <!--PHONE-->
        			    <div class="form group">
                    <div class="field">
                        <%= f.label :phone %>
                        <%= f.text_field :phone, placeholder: "best number to reach you at", class:"form-control" %>
                    </div>  
        			    </div>
                  
                  <hr>
  
                  <h4>Login Information:</h4>
                  <h6><i>This is how you will login</i></h6>
                  
                  <!--EMAIL-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label :email %>
                      <%= f.email_field :email, placeholder: "email address", class:"form-control" %>
                    </div>
        			    </div>
                  
                  <!--PASSWORD-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off", placeholder: "password", class:"form-control" %>
                    </div>
        			    </div>
                  
                  <!--CONFIRM PASSWORD-->
        			    <div class="form group">
                    <div class="field">
                      <%= f.label :password_confirmation %>
                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password", class:"form-control" %>
                    </div>
        			    </div>
                  
                  <!--TODAYS DATE-->
                  <div class="field">
                    <%= f.date_field :create_date, :value => Time.now.strftime('%Y-%m-%d'), readonly:true, hidden:true %>
                  </div>
                  
                  <hr>
                  
                  <!--[x] THESE NEED TO BE AUTOMATICALLY UPDATED WHEN USER SELECTS 'SIGN UP' BASED ON SELECTION/PASSWORD-->
                  <div id="show_settings" class="hidden">
                      <h5 id="superuser" style="color:red"></h5>
                      <div>
                        <%= f.label "Farmer?" %>
                        <%= f.select :farmer_role, [['True', true], ['False', false]], :selected => "true", :id => "farmer_r" %>
                      </div>
                      
                      <br>
                      
                      <!--div> <!--NO LONGER RELAVANT->
                        %= f.label "Pantry?" %>
                        %= f.select :pantry_role, [['True', true], ['False', false]], :id => "pantry_r" %>
                      </div-->
                      
                      <div>
                        <%= f.label "Truck Driver?" %>
                        <%= f.select :truckdriver_role, [['True', true], ['False', false]], :id => "driver_r" %>
                      </div>
                      
                      <br>
                      
                      <div>
                        <%= f.label "SeedFork User?" %>
                        <%= f.select :seedforkuser_role, [['True', true], ['False', false]], :id => "admin_r" %>
                      </div>
                    <hr>
                  </div>
        			    
        			    <!--RESET FORM-->
        			    <input class="btn btn-md btn-success btn-block" type="reset" value="Reset">
        			    <br>
                  
        			    <!--SIGN UP-->
        			    <!--%= link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-default" %-->
        			    <div class="actions">
                    <%= f.submit "Sign up", :class => "btn btn-md btn-success btn-block", :onmousedown => "WhichButton(event)" %>
                  </div>
                  
                  <hr>
        			    
                  <!--BACK BUTTON-->
                  <%= link_to "Back", :back, :class => "btn btn-md btn-success btn-block" %>
                  
                  
      			    </fieldset>
    			    </form>
        	  </div>
    		  </div>
    	  </div>
      </div>
    </div>
    
    
    <style>
      hr {
        height: 1px;
        color: black;
        background-color: black;
      }
    </style>
    
    <!--[x]CHECK TO SEE IF USER RIGHT CLICKED 'SIGN UP'-->
    <script type="text/javascript">
    
      function WhichButton(event) {
        if (event.button == 2) {
          var pass = prompt("Please enter employee password");
          if (pass == "seedtruckpass") {
            //alert("Welcome, Truck Driver!")
            $("#superuser").html("Welcome New Truck Driver!");
            $("#show_settings").removeClass('hidden');
            //document.getElementById("farmer_r").value = "false";
            //document.getElementById("driver_r").value = "true";
            
          } else if (pass == "seedadminpass") {
            //alert("Welcome, SeedFork Administrator!")
            $("#superuser").html("Welcome New Administrator!");
            $("#show_settings").removeClass('hidden');
            //document.getElementById("farmer_r").value = "false";
            //document.getElementById("admin_r").value = "true";
            
          } else {
            //alert("You are not an employee...")
          }
        }
      }
    </script>
  
  
  
  
  <!--OLD/BORING SING UP SCREEN-->
  <!--
  <br /><h4>Personal Information:</h4>
  <h6><i>Don't worry, address/phone is not shared</i></h6>
  
  <div>
    %= f.label :type_of_user, hidden:true %>
    <!--%= f.select :type_of_user, [['Farmer'], ['Pantry'], ['Truck Driver'], ['SeedFork User']] %>
    %= f.select :type_of_user, [['Farmer'], ['Pantry']], hidden:true %>
    <br /><small><i>Farmer - Donating Produce</i></small>
    <br /><small><i>Pantry - Receiving Produce</i></small-> 
    %= f.text_field :type_of_user, autofocus: true, value: "Farmer", hidden:true %>
  </div>



  <br /><div class="field">
    %= f.label "UserName" %>
    %= f.text_field :user_name, autofocus: true, placeholder: "first last/organization name", class:"form-control" %>
  </div>
  
  

  <br /><div class="field">
    %= f.label :address %>
    %= f.text_field :address, placeholder: "where the truck will pick up produce", class:"form-control" %>
  </div>  
  
  
  
  <br /><div class="field">
    %= f.label :phone %>
    %= f.text_field :phone, placeholder: "best number to reach you at", class:"form-control" %>
  </div>  
  
  <hr>
  
  <h4>Login Information:</h4>
  <h6><i>This is how you will login</i></h6>
  
  <br /><div class="field">
    %= f.label :email %>
    %= f.email_field :email, placeholder: "email address", class:"form-control" %>
  </div>



  <br /><div class="field">
    %= f.label :password %>
    % if @minimum_password_length %>
    <em>(%= @minimum_password_length %> characters minimum)</em>
    % end %><br />
    %= f.password_field :password, autocomplete: "off", placeholder: "password", class:"form-control" %>
  </div>



  <br /><div class="field">
    %= f.label :password_confirmation %>
    %= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password", class:"form-control" %>
  </div>

  -->

<% end %>

<!--%= render "devise/shared/links" %-->