<%= form_for(donor) do |f| %>


  <% if donor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donor.errors.count, "error") %> prohibited this donor from being saved:</h2>
      
      <ul>
      <% donor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <!--NEW/COOL SING UP SCREEN-->
  <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

  <div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-success ">
  		  	<div class="panel-heading">
  		    	<h3 class="panel-title"><strong>Enter New Produce:</strong></h3>
      		</div>
      		
  		  	<div class="panel-body">
  			    <form accept-charset="UTF-8" role="form">
              <fieldset>
                
                <h6>Username: <%= current_user.user_name %></h6>
                
              
                <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
                
                
                  <!--ADMIN EDIT-->
                  
                  
                  <h6>Updating: <%= donor.username %></h6>
                  <h6>Produce: <%= donor.type_of_food %></h6>
                  <div style="background-color:#ffcccc; width:270px; padding-left:20px">
                    <br /><h5><i style="color:red">Update Pick-Up Information:</i></h5>
                    <!--[] THIS NEEDS TO CALL QUERY TO RECIPIENTS TABLE TO SELECT AVAILABLE USER_NAME'S-->
                    <!-- and then fill them in a dropbox -->
                    <div class="field">
                      <%= f.label :match %>
                      <!--%= f.select :match, Recipients.all.order(:username) %>-->
                      <%= f.select :match, [['None'], ['Life Church'], ['First United Methodist Church'], ['Steven\'s Street Baptist Chruch'], 
                                            ['College Side Church of Christ'], ['Walnut Village'], ['Valley Court Willow Heights'], 
                                            ['TTU Food Pantry'], ['Other']] %>
                      <!--[] MAKE TEXT_FIELD APPEAR IF THEY SELECT 'OTHER' -->
                      <!--% unless @shop.allow_custom_orders == 'Other'%>
                        %= f.text_field :match, :value => '', hidden:false %-->
                    </div>
                    
                    <div class="field">
                      <%= f.label "Quantity On Truck" %>
                      <%= f.number_field :quantity, placeholder: "how many on truck" %>
                    </div>
                    
                     <div class="field">
                          <%= f.label :weight %>
                          <%= f.number_field :weight, :step => 0.01, placeholder: "0" %> lbs.
                      </div>
                    
                    <div class="field">
                      <%= f.label "Delivery Completed?" %>
                      <%= f.select :delivered, [['yes'], ['no']] %>
                    </div>
                  
                    <!--[] THIS SHOULD NOT BE UPDATED IF NOT NULL-->
                    <!-- ex: the truck driver may pick up the food, but not match it until the next day... -->
                    <div class="field">
                      <%= f.label :pickup_date %>
                      <%= f.date_select :pickup_date %>
                    </div>
                  
                    <div class="field">
                      <!--%= f.label :pickup_name %-->
                      <%= f.text_field :pickup_name, :value => current_user.user_name, readonly:true, hidden:true %>
                    </div><br />
                  </div>
                  <hr>
                  
                  
                <% else %>
                
                
                  <!--FARMER EDIT-->
                  
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.text_field :username, value: current_user.user_name, readonly:true, hidden:true %>
                    <% else %>
                      <h4><i>Who you're updating...</i></h4>
                      <%= f.text_field :username, value: donor.username, readonly:true %>
                    <% end %>
                  </div>  
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.text_field :phone, value: current_user.phone, readonly:true, hidden:true %>
                    <% else %>
                      <%= f.label :phone %>
                      <%= f.text_field :phone, value: donor.phone, readonly:true %>
                    <% end %>
                  </div>
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.date_field :date_entered, :value => Time.now.strftime('%Y-%m-%d'), readonly:true, hidden:true %>
                      <%= f.date_field :updated_at, :value => Time.now.strftime('%Y-%m-%d'), readonly:true, hidden:true %>
                    <% else %>
                      <%= f.label "Date Entered" %>
                      <%= f.date_field :date_entered, :value => donor.date_entered, readonly:true %>
                    <% end %>
                  </div>
                    
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.label :type_of_food %>
                      <%= f.text_field :type_of_food, placeholder: "type or select food", id: 'food_type' %>
                    <% else %>
                      <%= f.label :type_of_food %>
                      <%= f.text_field :type_of_food, readonly:true %>
                    <% end %>
                  </div>
                  
                  <hr>
                  <div>
                    <button type="button" id="corn"><img src="http://i.imgur.com/3IJtghY.png" alt="corn" height="42" width="42" title="Corn"></button>
                    <button type="button" id="broccoli"><img src="http://i.imgur.com/jjLX3nW.png" alt="broccoli" height="42" width="42" title="Broccoli"></button>
                    <button type="button" id="coliflour"><img src="http://i.imgur.com/GovCJH5.png" alt="coliflour" height="42" width="42" title="Coliflour"></button>
                    <button type="button" id="potatoe"><img src="http://i.imgur.com/CMB2xcV.png" alt="potatoe" height="42" width="42" title="Potatoe"></button>
                    <button type="button" id="sweetpotatoe"><img src="http://i.imgur.com/gJf0ZsY.png" alt="sweetpotatoe" height="42" width="42" title="Sweet Potatoe"></button>
                    <br />
                    <button type="button" id="radish"><img src="http://i.imgur.com/MEsrZza.png" alt="radish" height="42" width="42" title="Radish"></button>
                    <button type="button" id="eggplant"><img src="http://i.imgur.com/DVaXl6p.png" alt="eggplant" height="42" width="42" title="Eggplant"></button>
                    <button type="button" id="brusselsprout"><img src="http://i.imgur.com/cS6hj6M.png" alt="brusselsprout" height="42" width="42" title="Brussel Sprout"></button>
                    <button type="button" id="cabbagehead"><img src="http://i.imgur.com/uxaZPDA.png" alt="cabbagehead" height="42" width="42" title="Cabbage-Head"></button>
                    <button type="button" id="cabbageleaf"><img src="http://i.imgur.com/2904E9M.png" alt="cabbageleaf" height="42" width="42" title="Cabbage-Leaf"></button>
                    <br />
                    <button type="button" id="cucumber"><img src="http://i.imgur.com/uB05ywm.png" alt="cucumber" height="42" width="42" title="Cucumber"></button>
                    <button type="button" id="turnip"><img src="http://i.imgur.com/1ow2nZB.png" alt="turnip" height="42" width="42" title="Turnip"></button>
                    <button type="button" id="greens"><img src="http://i.imgur.com/p6T3bgt.png" alt="greens" height="42" width="42" title="Greens"></button>
                    <button type="button" id="peas"><img src="http://i.imgur.com/JLzcmS1.png" alt="peas" height="42" width="42" title="Peas"></button>
                    <button type="button" id="onion"><img src="http://i.imgur.com/pzSItC8.png" alt="onion" height="42" width="42" title="Onion"></button>
                    <br />
                    <button type="button" id="herbs"><img src="http://i.imgur.com/Tc0SzTh.png" alt="herbs" height="42" width="42" title="Herbs"></button>
                    <button type="button" id="sweetpepper"><img src="http://i.imgur.com/TQ1gIid.png" alt="sweetpepper" height="42" width="42" title="Sweet Pepper"></button>
                    <button type="button" id="hotpepper"><img src="http://i.imgur.com/2UUBLyH.png" alt="hotpepper" height="42" width="42" title="Hot Pepper"></button>
                    <button type="button" id="mustard"><img src="http://i.imgur.com/TZGGo8g.png" alt="mustard" height="42" width="42" title="Mustard"></button>
                    <button type="button" id="tomatoe"><img src="http://i.imgur.com/ftJyXED.png" alt="tomatoe" height="42" width="42" title="Tomatoe"></button>
                    <br />
                    <button type="button" id="carrot"><img src="http://i.imgur.com/SrcW8lh.png" alt="carrot" height="42" width="42" title="Carrot"></button>
                    <button type="button" id="ornamentalpumpkins"><img src="http://i.imgur.com/5aN0oT5.png" alt="ornamentalpumpkins" height="42" width="42" title="Ornamental Pumpkins"></button>
                    <button type="button" id="ediblepumpkins"><img src="http://i.imgur.com/bpGYLb7.png" alt="ediblepumpkins" height="42" width="42" title="Edible Pumpkins"></button>
                    <button type="button" id="watermelon"><img src="http://i.imgur.com/MlqGk3N.png" alt="watermelon" height="42" width="42" title="Watermelon"></button>
                    <button type="button" id="farmer"><img src="http://i.imgur.com/a3q0IBE.png" alt="farmer" height="42" width="42" title="Clear Text"></button>
                  </div>
                  <hr>
                  
                  <script type="text/javascript">
                    $(function () {
                        $('#corn').on('click', function () { var text = $('#food_type'); text.val('Sweet Corn'); });
                        $('#coliflour').on('click', function () { var text = $('#food_type'); text.val('Coliflour'); });
                        $('#potatoe').on('click', function () { var text = $('#food_type'); text.val('Potatoe'); });
                        $('#broccoli').on('click', function () { var text = $('#food_type'); text.val('Broccoli'); });
                        $('#sweetpotatoe').on('click', function () { var text = $('#food_type'); text.val('Sweet Potatoe'); });
                        $('#radish').on('click', function () { var text = $('#food_type'); text.val('Radish'); });
                        $('#eggplant').on('click', function () { var text = $('#food_type'); text.val('Eggplant'); });
                        $('#brusselsprout').on('click', function () { var text = $('#food_type'); text.val('Brussel Sprout'); });
                        $('#cabbagehead').on('click', function () { var text = $('#food_type'); text.val('Cabbage Head'); });
                        $('#cabbageleaf').on('click', function () { var text = $('#food_type'); text.val('Cabbage Leaf'); });
                        $('#cucumber').on('click', function () { var text = $('#food_type'); text.val('Cucumber'); });
                        $('#turnip').on('click', function () { var text = $('#food_type'); text.val('Turnip'); });
                        $('#greens').on('click', function () { var text = $('#food_type'); text.val('Greens'); });
                        $('#peas').on('click', function () { var text = $('#food_type'); text.val('Peas'); });
                        $('#onion').on('click', function () { var text = $('#food_type'); text.val('Onion'); });
                        $('#herbs').on('click', function () { var text = $('#food_type'); text.val('Herbs'); });
                        $('#sweetpepper').on('click', function () { var text = $('#food_type'); text.val('Sweet Pepper'); });
                        $('#hotpepper').on('click', function () { var text = $('#food_type'); text.val('Hot Pepper'); });
                        $('#mustard').on('click', function () { var text = $('#food_type'); text.val('Mustard'); });
                        $('#tomatoe').on('click', function () { var text = $('#food_type'); text.val('Tomatoes'); });
                        $('#carrot').on('click', function () { var text = $('#food_type'); text.val('Carrots'); });
                        $('#ornamentalpumpkins').on('click', function () { var text = $('#food_type'); text.val('Ornamental Pumpkins') });
                        $('#ediblepumpkins').on('click', function () { var text = $('#food_type'); text.val('Edible Pumpkins') });
                        $('#watermelon').on('click', function () { var text = $('#food_type'); text.val('Watermelon'); });
                        $('#farmer').on('click', function (){ var text = $('#food_type'); text.val(''); });
                    });
                  </script>
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.label :quantity %>
                      <%= f.number_field :quantity, placeholder: "3" %>
                    <% else %>
                      <%= f.label :quantity %>
                      <%= f.number_field :quantity, readonly:true %>
                    <% end %>
                  </div>
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.label :units %>
                      <%= f.text_field :units, placeholder: "bags" %>
                    <% else %>
                      <%= f.label :units %>
                      <%= f.text_field :units, readonly:true %>
                    <% end %>
                  </div>
                  
                  <div class="field">
                    <% if current_user.farmer_role? %>
                      <!--this is a little confusing, but DONOR.USER_TYPE == USERS.TYPE_OF_USER...-->
                      <!--%= f.label :user_type %>-->
                      <%= f.text_field :user_type, value: current_user.type_of_user, readonly:true, hidden:true %>
                    <% else %>
                    <% end %>
                  </div>
                        
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <!--%= f.label :email %>-->
                      <%= f.email_field :email, value: current_user.email, readonly:true, hidden:true %>
                    <% else %>
                    <% end %>
                  </div>
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <!--%= f.label :address %>-->
                      <%= f.text_field :address, value: current_user.address, readonly:true, hidden:true %>
                    <% else %>
                    <% end %>
                  </div>
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.label :price %>
                      $<%= f.number_field :price, :step => 0.01, placeholder: "2.00" %>
                    <% else %>
                      <%= f.label :price %>
                      <%= f.number_field :price, readonly:true %>
                    <% end %>
                  </div>
                  
                  
                  <div class="field">
                    <% if current_user.farmer_role %>
                      <%= f.label :season %>
                      <%= f.select :season, [['Summer'], ['Fall'], ['Winter'], ['Spring']] %>
                    <% else %>
                    <% end %>
                  </div><br />
                  
                  <div class="field">
                    <!--%= f.label :delivered %-->
                    <!--%= f.select :match, Recipients.all.order(:username) %>-->
                    <%= f.text_field :delivered, :value => 'no', hidden:true %>
                  </div>
                
                <% end %>
                
                <!--SUBMIT BUTTON-->
                <div class="actions">
                  <%= f.submit %>
                </div>
                
    			    </fieldset>
  			    </form>
      	  </div>
  		  </div>
  	  </div>
    </div>
  </div>

<% end %>