<!-- MODAL -->
<% if user_signed_in? %>
  <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
  <div class="modal fade" id="donorModal" tabindex="-1" role="dialog" aria-labelledby="donModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="donModalLabel">Hello</h4>
          </div>
          <div class="modal-body" id="donModalBody">
            World
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>