<h2>Pending Produce</h2>

<!--FARMERS/PANTRIES CAN ACCESS EACHOTHERS DATABASES-->
<!--% if current_user.farmer_role? && !current_user.pantry_role || current_user.truckdriver_role || current_user.seedforkuser_role %>
  <!--<div class = "alert alert-success alert-dismissable fade in">Valid User!
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
% else %>
  <div class = "alert alert-danger alert-dismissable fade in">Invalid User!
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
% end %>-->

<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <!--li>%= link_to "Restaurant", foods_path %></li-->
      <li><%= link_to "Pending Produce", donors_path %></li>
      <!--li>%= link_to "Pantry", recipients_path %></li-->
      <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
    </ul>
    <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
      <ul class="nav navbar-nav">
        <!--li>%= link_to "Matches", dashboard_matches_path %></li-->
        <li><%= link_to "Archives", dashboard_archives_path %></li>
      </ul>
    <% end %>
        
    <ul class="nav navbar-nav pull-right">
      <% if current_user.farmer_role? %>
        <li><%= link_to 'New Entry', new_donor_path %></li>
      <% end %>
      <li><input type="text" id="search" placeholder="Search Farmers" style="margin:16px"></input></li>
      <!--[] CODE WORKS BUT THE FORMATTING IS OFF, AND THERE ARE EXTRA SPACES INBETWEEN EACH USERNAME-->
    	<li role="button" data-toggle="dropdown" class="dropdown nav navbar-nav" id="nav_farmer"><!--i class="glyphicon glyphicon-grain"--><%= link_to 'All Farmers' %></i></li>
      
      <ul data-toggle="dropdown" class="dropdown-menu">
        <% @usernames.each do |donor| %>
          <!--[] ONCE ONE OF THESE IS SELECTED, IT NEEDS TO CALL AN ACTIVE RECORD TO REPOPULATE THE TABLE ON THE PAGE...-->
          <li id="get_farmer"><%= link_to donor.username %></li>
        <% end %>
        
        
        <li role="presentation" class="divider"></li>
        <li><a href="#">All Farmers</li>
      </ul>
      
      
      <!--li>%= link_to 'Account', edit_user_registration_path %></li-->
      <li><%= link_to '' %></li>
      <li>
        <%= link_to edit_user_registration_path do %>
         <i class="glyphicon glyphicon-cog"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>


<!--input type="text" id="search" placeholder="Search"></input><br><br-->


<!--% if current_user.farmer_role? && !current_user.pantry_role || current_user.truckdriver_role || current_user.seedforkuser_role %>-->
  <table class="table table-striped table-bordered" id="donorTable">
    <thead>
      <tr>
        <th onclick="sortTable(0)">Username</th>
        <th onclick="sortTable(1)">Quantity</th>
        <th onclick="sortTable(2)">Units</th>
        <th onclick="sortTable(3)">Type of Food</th>
        <!--th>Price</th-->
        <th onclick="sortTable(4)">Season</th>
        <th onclick="sortTable(5)">Date entered</th>
        <!--% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <th onclick="sortTable(6)">Phone</th>
          <th onclick="sortTable(7)">Email</th>
          <th onclick="sortTable(8)">Address</th>
        % end %-->
        <!--th>Match</th>
        <th onclick="sortTable(9)">Pickup date</th>
        <th onclick="sortTable(10)">Pickup name</th>
        <th onclick="sortTable(11)">Delivered</th-->
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    
    <tbody id="donorList" class="farmerList">
      <% @farmer.each do |donor| %>
        <tr>
          <td data-toggle="modal" data-target="#donorModal"><%= donor.username %></td>
          <td><%= donor.quantity %></td>
          <td><%= donor.units %></td>
          <td><%= donor.type_of_food %></td>
          <!--td>$%= donor.price %></td-->
          <td><%= donor.season %></td>
          <td><%= donor.date_entered %></td>
          <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <td style="display:none"><%= donor.phone %></td>
            <td style="display:none"><%= donor.email %></td>
            <td style="display:none"><%= donor.address %></td>
          <% end %>
          <!--td>%= donor.match %></td>
          <td>%= donor.pickup_date %></td>
          <td>%= donor.pickup_name %></td>
          <td>%= donor.delivered %></td-->
          
          <!--<td>%= link_to 'Show', donor %></td>-->
          <% if current_user.user_name == donor.username || current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <td><center><%= link_to 'Edit', edit_donor_path(donor), :class => "btn btn-default" %></center></td>
            <td><center><%= link_to 'Delete', donor, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></center></td>
          <% end %>
        </tr>
        
        <!--[x] UNIVERSAL MODAL -->
        <%= render partial: "modal", locals: {zone: @zone} %>
         
      <% end %>
    </tbody>
  </table>
  
  <script type="text/javascript">
    /*=======================================*/
    /* SORT BY COLUMN - CLICK COLUMN TO SORT */
    /*=======================================*/
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("donorTable");
      switching = true;
      dir = "asc"; //sorting direction: ascending
      while (switching) {
        switching = false;
        rows = table.getElementsByTagName("tr");
        //Loop through all rows except the header
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          //Get the two elements you want to compare, one from current row and one from the next
          x = rows[i].getElementsByTagName("td")[n];
          y = rows[i + 1].getElementsByTagName("td")[n];
          //Check if the two rows should switch place, based on the direction, asc or desc
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              shouldSwitch = true; //switch
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              shouldSwitch = true; //switch
              break;
            }
          }
        }
        if (shouldSwitch) {
          //If a switch has been marked, make the switch and mark that a switch has been done
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1
          switchcount ++;      
        } else {
          //If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again.
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
  
<!--% end %>-->