<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @donor.username %>
</p>

<p>
  <strong>Date entered:</strong>
  <%= @donor.date_entered %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<p>
  <strong>User type:</strong>
  <%= @donor.user_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @donor.quantity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @donor.address %>
</p>

<p>
  <strong>Season:</strong>
  <%= @donor.season %>
</p>

<p>
  <strong>Match:</strong>
  <%= @donor.match %>
</p>

<p>
  <strong>Pickup date:</strong>
  <%= @donor.pickup_date %>
</p>

<p>
  <strong>Pickup name:</strong>
  <%= @donor.pickup_name %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
