<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <h4>Please Contact <a href="mailto:ellenpwolfe@frontiernet.net">Ellen Wolfe</a></h4>
  <!--<div class="field">
    %= f.label :email %><br />
    %= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    %= f.submit "Send me reset password instructions" %>
  </div>-->
<% end %>

<%= render "devise/shared/links" %>