<%= form_for(recipient) do |f| %>
  <% if recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% recipient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :username %>
    <% if current_user.pantry_role %>
      <%= f.text_field :username, value: current_user.user_name, readonly:true %>
    <% else %>
      <h4><i>Who you're updating...</i></h4>
      <%= f.text_field :username, value: recipient.username, readonly:true %>
    <% end %>
  </div>
  
  <div class="field">
    <% if current_user.pantry_role %>
      <%= f.text_field :phone, value: current_user.phone, readonly:true, hidden:true %>
    <% else %>
      <%= f.label :phone %>
      <%= f.text_field :phone, value: recipient.phone, readonly:true %>
    <% end %>
  </div>
  
  <div class="field">
    <% if current_user.pantry_role %>
      <%= f.date_field :date_entered, :value => Time.now.strftime('%Y-%m-%d'), readonly:true, hidden:true %>
      <%= f.date_field :updated_at, :value => Time.now.strftime('%Y-%m-%d'), readonly:true, hidden:true %>
    <% else %>
      <%= f.label "Date Entered" %>
      <%= f.date_field :date_entered, :value => recipient.date_entered, readonly:true %>
    <% end %>
  </div>
    
  <div class="field">
    <% if current_user.pantry_role %>
      <%= f.label :type_of_food %>
      <%= f.text_field :type_of_food, placeholder: "Carrots" %>
    <% else %>
      <%= f.label :type_of_food %>
      <%= f.text_field :type_of_food, readonly:true %>
    <% end %>
  </div>
  
  <div class="field">
    <% if current_user.pantry_role %>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, placeholder: "-1 for all" %>
    <% else %>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, readonly:true %>
    <% end %>
  </div>
        
  <div class="field">
    <% if current_user.pantry_role %>
      <!--%= f.label :email %>-->
      <%= f.email_field :email, value: current_user.email, readonly:true, hidden:true %>
    <% else %>
    <% end %>
  </div>
  
  <div class="field">
    <% if current_user.pantry_role %>
      <!--%= f.label :address %>-->
      <%= f.text_field :address, value: current_user.address, readonly:true, hidden:true %>
    <% else %>
    <% end %>
  </div>
  
  <div class="field">
    <% if current_user.pantry_role %>
      <!--%= f.label :user_type %>-->
      <%= f.text_field :user_type, value: current_user.type_of_user, readonly:true, hidden:true %>
    <% else %>
    <% end %>
  </div>


  <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
    <hr>
    <div style="background-color:#ffcccc; width:250px; padding-left:20px">
      <br /><h5><i style="color:red">Update Drop-off Information:</i></h5>
      <div class="field">
      <!--[] THIS NEEDS TO CALL QUERY TO DONORS TABLE TO SELECT AVAILABLE USER_NAME'S-->
        <%= f.label :match %>
        <%= f.text_field :match %>
      </div>
    
      <div class="field">
        <%= f.label :dropoff_date %>
        <%= f.date_select :dropoff_date %>
      </div>
      
      <div class="field">
        <%= f.label "Quantity Dropped Off" %>
        <%= f.number_field :quantity, placeholder: "how many off truck" %>
      </div>
    
      <div class="field">
        <%= f.label :dropoff_name %>
        <%= f.text_field :dropoff_name, :value => current_user.user_name, readonly:true %>
      </div><br />
    </div>
    <hr>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>