<h2>Pantry</h2>

<!--FARMERS/PANTRIES CAN ACCESS EACHOTHERS DATABASES-->
<!--% if current_user.pantry_role? && !current_user.farmer_role || current_user.truckdriver_role || current_user.seedforkuser_role %>
  <!--<div class = "alert alert-success alert-dismissable fade in">Valid User!
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
% else %>
  <div class = "alert alert-danger alert-dismissable fade in">Invalid User!
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>
% end %>-->
    
<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <li><%= link_to "Restaurant", foods_path %></li>
      <li><%= link_to "Farmer", donors_path %></li>
      <li><%= link_to "Pantry", recipients_path %></li>
      <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
    </ul>
    <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Matches", dashboard_matches_path %></li>
          <li><%= link_to "Archives", dashboard_archives_path %></li>
        </ul>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <% if !current_user.farmer_role? && current_user.pantry_role || current_user.truckdriver_role || current_user.seedforkuser_role %>
        <li><%= link_to 'New Entry', new_recipient_path %></li>
      <% end %>
        <!--<li>%= link_to 'Account', edit_user_registration_path %></li>-->
        <li><%= link_to edit_user_registration_path do %>
           <i class="glyphicon glyphicon-cog"></i>
        <% end %></li>
    </ul>
    
  </div>
</nav>

<!--% if !current_user.farmer_role? && current_user.pantry_role || current_user.truckdriver_role || current_user.seedforkuser_role %>-->
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Type of Food</th>
        <th>Quantity</th>
        <th>Date entered</th>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
        <% end %>
        <th>Match</th>
        <th>Dropoff date</th>
        <th>Dropoff name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @recipients.each do |recipient| %>
        <tr>
          <td><%= recipient.username %></td>
          <td><%= recipient.type_of_food %></td>
          <td><%= recipient.quantity %></td>
          <td><%= recipient.date_entered %></td>
          <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <td><%= recipient.phone %></td>
            <td><%= recipient.email %></td>
            <td><%= recipient.address %></td>
          <% end %>
          <td><%= recipient.match %></td>
          <td><%= recipient.dropoff_date %></td>
          <td><%= recipient.dropoff_name %></td>
          
          <!--<td>%= link_to 'Show', recipient %></td>-->
          <% if current_user.user_name == recipient.username || current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <td><%= link_to 'Edit', edit_recipient_path(recipient), :class => "btn btn-default" %></td>
            <td><%= link_to 'Delete', recipient, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--% end %>-->