<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @recipient.username %>
</p>

<p>
  <strong>Date entered:</strong>
  <%= @recipient.date_entered %>
</p>

<p>
  <strong>Email:</strong>
  <%= @recipient.email %>
</p>

<p>
  <strong>User type:</strong>
  <%= @recipient.user_type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @recipient.quantity %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recipient.address %>
</p>

<p>
  <strong>Match:</strong>
  <%= @recipient.match %>
</p>

<p>
  <strong>Dropoff date:</strong>
  <%= @recipient.dropoff_date %>
</p>

<p>
  <strong>Dropoff name:</strong>
  <%= @recipient.dropoff_name %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
