<!--NAVIGATION BAR-->
<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
		<nav class="navbar navbar-default navbar-top navbar-inverse" role="navigation">
    <!--<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">-->
    	<div class="navbar-header">
    		 
    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    			 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    		</button> <a><%= link_to "Home", root_path, { :class => "navbar-brand"} %></a>
    	</div>
    	
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		<ul class="nav navbar-nav">
    			
    			<li><%= link_to "Charter", dashboard_charter_path %></li>
    			<li><%= link_to "Database", foods_path %></li>
    			<li><%= link_to "User Stories", dashboard_userstories_path %></li>
    			
    		</ul>
    	</div>
    </nav>
  	</div>
  </div>
</div>




<!--
FROM Command Prompt 02-21-2017
Contents of User(devise) Table
-->
justinfoster:~/workspace/rails_project (master) $ rake db:migrate
== 20170221205737 AddDetailsToUser: migrating =================================
-- add_column(:users, :user_name, :string)
-- add_column(:users, :type_of_user, :string)
-- add_column(:users, :address, :string)
-- add_column(:users, :phone, :string)
-- add_column(:users, :create_date, :date)
--   existing(:users, :email, :string)
--   existing(:users, :password, :string)
== 20170221205737 AddDetailsToUser: migrated (0.0070s) ========================









<!--[] CAN'T GET THESE NOTICE/ALERT TAGS TO ONLY APPEAR WHEN NEEDED-->
<!--% if notice.success? %>-->
        <div class="alert alert-success alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
      <!--% end %>-->
      
      <!--% if notice.info? %>-->
        <div class="alert alert-info alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
      <!--% end %>-->
      
      <!--% if notice.warning? %>-->
        <div class="alert alert-warning alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
      <!--% end %>-->
      
      
      <!--% if notice.danger? %>-->
        <div class="alert alert-danger alert-dismissable fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= notice %>
        </div>
      <!--% end %>-->