<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <!--NEW/COOL LOGIN SCREEN-->
  <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>

  <div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-info">
  		  	<div class="panel-heading">
  		    	<h3 class="panel-title"><strong>Please Sign In:</strong></h3>
      		</div>
      		
  		  	<div class="panel-body">
  			    <form accept-charset="UTF-8" role="form">
              <fieldset>
                <div class="form group">
                  <div class="field">
                    <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
                  </div>
                </div>
      			    <div class="form group">
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
                  </div>
      			    </div>
      			    <input class="btn btn-md btn-info btn-block" type="submit" value="Login">
      			    <!--input class="btn btn-lg btn-success btn-block" type="reset" value="Reset"-->
      			    <br><%= link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-default" %>
    			    </fieldset>
  			    </form>
      	  </div>
  		  </div>
  	  </div>
    </div>
  </div>

  <!--OLD/BORING METHOD FOR LOGING IN-->
  <!--<br /><div class="field" style="width:500px">
    %= f.label :email %>
    %= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="field" style="width:500px">
    %= f.label :password %>
    %= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div><br />

  <!--% if devise_mapping.rememberable? -%>
    <div class="field">
      %= f.check_box :remember_me %>
      %= f.label :remember_me %>
    </div>
  % end -%>-->

  <!--
  <div class="actions">
    %= f.submit "Log in", :class => "btn btn-default" %>
  </div>
  -->
  
<% end %>

<!--%= render "devise/shared/links" %-->
