<%= form_for(food) do |f| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
      <% food.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Add Food Request</h4>

  <div class="field">
    <%= f.label :food %>
    <%= f.text_field :food, :placeholder => "Carrots" %>
    <h6 class="small">(type of produce)</h6>
  </div>

  <div class="field">
    <%= f.label :amount %>
    $ <%= f.text_field :amount, :placeholder => "1.00" %>
    <h6 class="small">(how much per produce)</h6>
  </div>

  <div class="field">
    <%= f.label :frequency %>
    <%= f.text_field :frequency, :placeholder => "Mondays at 6AM" %>
    <h6 class="small">(how often? weekly/time of day)</h6>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration, :placeholder => "1 Month" %>
    <h6 class="small">(for how long)</h6>
  </div>

  <div class="field">
    <%= f.label :price_cap %>
    $ <%= f.text_field :price_cap, :placeholder => "20.00" %>
    <h6 class="small">(total price willing to pay)</h6>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
  .small {
    margin: 0;
    padding: 0;
  }
</script>