<h2>Restaurant Requests</h2>

<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <li><%= link_to "Restaurant", foods_path %></li>
      <li><%= link_to "Farmer", donors_path %></li>
      <!--li>%= link_to "Pantry", recipients_path %></li-->
      <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
    </ul>
    <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "Matches", dashboard_matches_path %></li>
          <li><%= link_to "Archives", dashboard_archives_path %></li>
        </ul>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <% if !current_user.farmer_role? && current_user.pantry_role || current_user.truckdriver_role || current_user.seedforkuser_role %>
        <li><%= link_to 'New Entry', new_food_path %></li>
      <% end %>
      <!--<li>%= link_to 'Account', edit_user_registration_path %></li>-->
      <li><%= link_to edit_user_registration_path do %>
         <i class="glyphicon glyphicon-cog"></i>
      <% end %></li>
    </ul>
    
  </div>
</nav>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Amount</th>
      <th>Frequency</th>
      <th>Duration</th>
      <th>Price cap</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.food %></td>
        <td>$<%= food.amount %></td>
        <td><%= food.frequency %></td>
        <td><%= food.duration %></td>
        <td>$<%= food.price_cap %></td>
        <!--<td>%= link_to 'Show', food %></td>-->
        <td><%= link_to 'Edit', edit_food_path(food), :class => "btn btn-default" %></td>
        <td><%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>