<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @food.food %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @food.amount %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @food.frequency %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @food.duration %>
</p>

<p>
  <strong>Price cap:</strong>
  <%= @food.price_cap %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
