<%= form_for(seed_fork_user) do |f| %>
  <% if seed_fork_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seed_fork_user.errors.count, "error") %> prohibited this seed_fork_user from being saved:</h2>

      <ul>
      <% seed_fork_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :seedfork_user_type %>
    <%= f.text_field :seedfork_user_type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
