<p id="notice"><%= notice %></p>

<h1>Seed Fork Users</h1>

<!--[] NEED TO ADD USER SECURITY, SO ONLY 'SEEDFORK USERS' CAN VIEW-->
<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <% if user_signed_in? %>
      <% if user_type="SeedFork User" %>  	
        <ul class="nav navbar-nav">
          <li><%= link_to 'New Entry', new_seed_fork_user_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav pull-right">
        <!--<li>%= link_to 'Account', edit_user_registration_path %></li>-->
        <li><%= link_to edit_user_registration_path do %>
           <i class="glyphicon glyphicon-cog"></i>
        <% end %></li>
      </ul>
    <% end %>
    
  </div>
</nav>

<table>
  <thead>
    <tr>
      <th>Seedfork user type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seed_fork_users.each do |seed_fork_user| %>
      <tr>
        <td><%= seed_fork_user.seedfork_user_type %></td>
        <!--<td>%= link_to 'Show', seed_fork_user %></td>-->
        <!--<td>%= link_to 'Edit', edit_seed_fork_user_path(seed_fork_user) %></td>-->
        <!--<td>%= link_to 'Destroy', seed_fork_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>