<p id="notice"><%= notice %></p>

<p>
  <strong>Seedfork user type:</strong>
  <%= @seed_fork_user.seedfork_user_type %>
</p>

<%= link_to 'Edit', edit_seed_fork_user_path(@seed_fork_user) %> |
<%= link_to 'Back', seed_fork_users_path %>
