<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <li><%= link_to "Restaurant", foods_path %></li>
      <li><%= link_to "Farmer", donors_path %></li>
      <li><%= link_to "Pantry", recipients_path %></li>
      <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
    </ul>
    <% if user_signed_in? %>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <ul class="nav navbar-nav">
              <li><%= link_to "Matches", dashboard_matches_path %></li>
              <li><%= link_to "Archives", dashboard_archives_path %></li>
            </ul>
          <% end %>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <!--li>%= link_to 'Account', edit_user_registration_path %></li-->
          <li><%= link_to edit_user_registration_path do %>
             <i class="glyphicon glyphicon-cog"></i>
          <% end %></li>
        </ul>
    <% end %>
  </div>
</nav>