<!--[] NEED TO FIGURE OUT HOW TO GET THIS TO WORK WITH DATABASE PAGES-->
<nav class="navbar navbar-default" role="navigation">
  <div class="nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <ul class="nav navbar-nav">
      <!--[] USED LATER FOR RESTAURANTS-->
      <!--<li>%= link_to "Foods", foods_path %></li>-->
      <li><%= link_to "Pantry", recipients_path %></li>
            <li><%= link_to "Truck Inventory", dashboard_truck_inventory_path %></li>
        </ul>
        <% if current_user.truckdriver_role? || current_user.seedforkuser_role? %>
            <ul class="nav navbar-nav">
                <li><%= link_to "Matches", dashboard_index_path %></li>
                <li><%= link_to "Archives", dashboard_archives_path %></li>
            </ul>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <% if current_user.farmer_role? && !current_user.pantry_role || current_user.truckdriver_role || current_user.seedforkuser_role %>
        <li><%= link_to 'New Entry', new_donor_path %></li>
      <% end %>
        <!--<li>%= link_to 'Account', edit_user_registration_path %></li>-->
        <li><%= link_to edit_user_registration_path do %>
           <i class="glyphicon glyphicon-cog"></i>
        <% end %></li>
    </ul>
    
  </div>
</nav>